<h1 class="center">About Us:</h1>
<mat-divider></mat-divider>
<mat-card>
	Pop! Shirts is a small company that was founded in 2019 by Nathan Phillis to start making and selling T-Shirts themed around pop-culture. Despite the company's young age, we strive to do our best to deliver the best quality service around and we want this to be reflected in our brand new website. We chose to sell these products because we are aware of the enthusiastic pop-culture community and it's recent famine of clothing merchandise. By creating this company, not only are you being given the opportunity to show off your interests, but also you get a sweet T-shirt to go along with it! We hope you have the best experience on our website, but in case you get lost, here is a short guide on how to use our shop:
	<br>
	<br>
	Our website primarily functions as an online store which allows for you to see our collection from anywhere! Check out our catalog page to see our collection. 
	<br>
	<br>
	To add shirts to the cart, simply click oon the 'Add to Cart' button and it will add it to the cart in the top right corner of the screen.
	<br>
	<br>
	To see your cart, click on the 'cart' button in the top right on the screen. This will bring up the final purchase page.
	<br>
	<br>
	To finally make the purchase (Or to clear the cart), all you need to do is to enter your details and press the 'Checkout' button at the bottom.
	<br>
	<br>
	After this is done, your brand new Pop! Shirts will be on their way to you!

</mat-card>
<br style="line-height: 20rem;">
<footer>
	Pop! Shirts website. All rights reserved. Author: Nathan Phillis. Feel free to mess about with whatever you want in this website. :P
</footer>
