.top {
	background-image: url("../../assets/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	line-height: 20rem;
	text-align: center;
	font-size: 5rem;
	font-weight: 900;
	color:#7200FF;
	text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF;
}

.center {
	text-align: center;
}